@font-face {
  font-family: "AvenirLtNextPro";
  src: url("assets/fonts/avenirLtPro.otf") format("opentype");
}

@font-face {
  font-family: "AvenirLtNextPro";
  src: url("assets/fonts/avenirLtProItalic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Granjon";
  src: url("assets/fonts/Granjon.otf") format("opentype");
}

:root {
  font-family: AvenirLtNextPro, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #224352;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgb(52, 88, 0);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-content:center;
}

h2 {
  display: block;
  font-size: 1.25em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align:left;
}

h3 {
  display: block;
  font-size: 1.0em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:left;
}

ul,li {
  list-style-type: disc; /* Specify the bullet point style you prefer */
  text-align: left; /* Left-align the text */
  font-size: inherit; /* Inherit font size from the global paragraph text */
  line-height: inherit; /* Inherit line height from the global paragraph text */
  color: inherit; /* Inherit text color from the global paragraph text */
  font-family: Granjon, Helvetica, Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0efe3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

p {
  color: black;
  text-align: left;
  font-family: Granjon, Helvetica, Arial, sans-serif;

  @media (max-width: 767px) {
    margin-left: 2em;
  }
}
